<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr>
      <th class="border border-gray-300 p-2 bg-gray-200" data-sort="name">
        Name
      </th>
      <th class="border border-gray-300 p-2 bg-gray-200" data-sort="age">
        Age
      </th>
      <th class="border border-gray-300 p-2 bg-gray-200" data-sort="city">
        City
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-300 p-2"><%= person.name %></td>
      <td class="border border-gray-300 p-2"><%= person.age %></td>
      <td class="border border-gray-300 p-2"><%= person.city %></td>
    </tr>
  </tbody>
</table>
